.home-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
}

.cocktail-card {
	background-color: #d4c3a9;
	display: flex;
	height: auto;
	max-width: 35rem;
	padding: 3rem;
	width: 100%;
	text-align: left;
}

.cocktail-card .info {
	flex: 1;
}

.cocktail-card h1 {
	color: #291f0f;
	font-family: "DM Sans", sans-serif;
	font-size: 2rem;
	font-style: normal;
	font-weight: 800;
	margin-bottom: 0.5rem;
}

.cocktail-card h2 {
	color: #291f0f;
	font-family: "DM Sans", sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 400;
	margin-bottom: 10.6rem;
}

.cocktail-card img {
	flex: 1;
	height: auto;
	width: 50%;
}

.cocktail-card .link {
	background-color: #d6bb92;
	color: #291f0f;
	font-family: "DM Sans", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.cocktail-card .link:hover {
	background-color: #c7a26b;
	color: #4b320c;
}