.navbar {
	align-items: center;
	background-color: #d6bb92;
	display: flex;
	justify-content: space-evenly;
	left: 0;
	padding: 1rem 2rem;
	position: fixed;
	top: 0;
	width: 100%;
}

.link-home {
	color: #291f0f;
	font-family: "Space Mono", monospace;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 800;
	text-decoration: none;
}

.navbar-links {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.link-search {
	color: #291f0f;
	font-family: "DM Sans", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	padding: 0.5rem;
	text-decoration: none;
}

.link-search:hover {
	color: #5c4523;
}

.button-random {
	background-color: #ede4d5;
	border: solid 1px #c7a26b;
	color: #291f0f;
	cursor: pointer;
	font-family: "DM Sans", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.button-random:hover {
	background-color: #d89f4b;
	color: #4b320c;
}