.search-page {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem;
}

.search-page h1 {
	color: #291f0f;
	font-family: "DM Sans", sans-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 800;
	margin-bottom: 1.5rem;
}

.search-form {
	align-items: center;
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin-bottom: 1rem;
}

.search-input {
	background-color: #ede4d5;
	border: 1px solid #c7a26b;
	color: #5c4523;
	font-family: "DM Sans", sans-serif;
	font-size: 1rem;
	margin: 4px;
	padding: 0.5rem;
	width: 25rem;
}

.search-input:focus {
	border: thick double #c7a26b;
	margin: 0px;
	outline-color: #6f532a;
}

.search-button {
	background-color: #d6bb92;
	border: none;
	color: #291f0f;
	cursor: pointer;
	font-family: "DM Sans", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.search-button:hover {
	background-color: #c7a26b;
	color: #4b320c;
}

.search-page ul {
	list-style-type: none;
}

.search-page li {
	align-items: center;
	background-color: #d4c3a9;
	color: #291f0f;
	cursor: pointer;
	display: flex;
	font-family: "DM Sans", sans-serif;
	font-size: 1rem;
	justify-content: space-between;
	margin-bottom: 0.5rem;
	padding: 1rem;
	width: 30.5rem;
}

.search-page li:hover {
	background-color: #c7a26b;
	color: #4b320c;
}

.search-page li img {
	max-height: 1.2rem;
	width: auto;
}

.search-page p {
	padding-inline: 1rem;
	flex-grow: 1;
}

.search-buttons button {
	background-color: #d6bb92;
	border: none;
	color: #291f0f;
	cursor: pointer;
	font-family: "DM Sans", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	margin-inline: 0.5rem;
	margin-top: 0.5rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.search-buttons button:hover {
	background-color: #c7a26b;
	color: #4b320c;
}